*{
    margin: 0px;
    padding: 0px;
    text-decoration: none !important;
    list-style: none !important;
    outline: 0px !important;
}

html{
    width: 100% !important;
}
.carousel{
    z-index: -1;
}

.header-div1{
    width: 80%;
    height: 10vh;
    display: inline-flex;
    align-items: space-between    ;
    flex-direction: column;
}
#offcanvas_ul{
    margin-left: -30px;
    /* margin-top: -50px; */

}
#offcanvas_li{
    width: 100%;
    height: 7vh;
    display: inline-flex;
    align-items: center;
    margin-right: 50px !important;
}
#offcanvas_li:hover{
    background-color: rgba(253, 252, 251, 0.315);
}
.header-div2{
    width: 100%;
    height: 7vh;
    display: inline-flex;
    justify-content: end;
}
#offcanvas_link{
    color: rgb(234, 236, 238);
    text-align: center;
    margin-left: 10px;
}
.header-div3{
    width: 80%;
    height: 7vh;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
#slct{
    margin-left: 20px;
    width: 10%;
}
#slct1{
    background: none;
    color: white;
    width: 100%;
    height: 7vh;
    border: none;
    margin-left: 5px;
}
#slct>option{
    width: 10%;
}
#Link01{
    color: rgb(14, 15, 41);
    text-align: center;
    list-style: none;
    text-decoration: none;
    font-size: 10pt;
    font-weight: 500;
    border-right: solid 1px rgb(216, 213, 213);
}
#span01{
    font-size: 10pt;
    text-align: center;
}

.div1{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-top: 10px;
    /* position: sticky ; top: 0 !important; */
}
.o1{
    width: 100%;
    height: 8vh;
    display: inline-flex;
    justify-content: center;
    background-color: #5472f8;
    align-items: center !important;
}

#link{
    text-decoration: none   ;
    color: white;
    margin-left: 20px;
    font-size: 10.6pt;
    font-weight: 700;
    /* border: 0pt 0pt 0pt 10pt rgb(122, 122, 122); */
}
.o1>ul{
    display: inline-flex;
    margin-top: 15px;
    border-right: 20pt rgb(163, 160, 160);
}
.o1>ul>li{
    text-decoration: none;
    list-style: none;
    color: black;
}


.o01>li{
    text-decoration: none;
}
.o01>li>Link{
    text-decoration: none;
    list-style: none;
}

.div2{
    width: 87%;
    height: 18vh;
    display: inline-flex;
    justify-content: space-between;
}
.div3{
    width: 20%;
    height: 18vh;
    display: inline-flex;
    align-items: center;
}
#id1{
    width: 90%;
    height: 10vh;
}
.div4{
    width: 60%;
    height: 18vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.inpdiv{
    width: 100%;
    height: 7vh;
    border:solid 2px rgb(40, 107, 250) !important;
    border-radius: 20px;

    align-items: center;
    border-width: 20pt rgb(67, 67, 250) !important;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
}
.div5{
    width: 20%;
    height: 18vh;
    font-size: 20pt;
    color: rgb(20, 13, 68);
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.div_5{
    width: 13%;
    height: 18vh;
    font-size: 20pt;
    color: rgb(20, 13, 68);
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.div5>a>i{
    color: rgb(20, 13, 68);
}
.div_5>a>i{
    color: rgb(35, 27, 82);
    font-size: 10pt;
}
.div05{
    background-color: white !important;
}
.div_05{
    background-color: rgba(6, 147, 227, 1);
}
.div005{
    background-color: rgb(74, 86, 255) !important;
}
#inp{
    width: 40%;
    height: 6vh;
    border:  none;
    border-radius: 20px 0px  0px 20px;
    
}
#inp1{
    width: 8%;
    height: 7vh;
    border-radius: 0px 20px  20px 0px;
    color: white;
    border: none;
    background-color:  rgb(40, 107, 250);
    border-right: none;
}
#inp::placeholder{
    font-size: 12pt;
    margin-left: 30px;
    position: absolute;
}
.div6{
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 89, 255);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.div01{
    width: 6%;
    border-right:  solid 1px silver;
    text-decoration: none;
    list-style: none;
    color: white;
}
.div01>li>a{

    color: white;
}

.div7{
    width: 100%;
    /* height: 70vh; */
    animation-duration: 2s;

}
#id15{
    display: inline-flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;

}
.div8{
    width: 100%;
    height: 20vh;

    display: inline-flex;
    flex-direction: column;
    
}
.div9{
    width: 100%;
    height: 25vh;
    display: inline-flex;
    justify-content: center;
}
.div10{
    width: 100%;
    height: 60vh;
 
    margin-top: 5px;
}
.div010{
    width: 100%;
    height: 80vh;
    margin-top: 5px;
}
.div010>img{
    width: 100%;
    height: 80vh;
}
.div11{
    width: 87%;
    height: 20vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    

}
.div11>h1{
    font-size: 20pt;
    color: black;
    
}
.div11>h5{
    font-size: 15pt;
    color: black;
}
.div10>img{
    width: 100%;
    height: 60vh;
}
.div13{
    width: 100%;
    display: inline-flex;
    flex-direction: column;    
    align-items: center;

}
.div14{
    width: 100%;
    height: 15vh;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
.div12{
    width: 95%;

    display: inline-flex;
    justify-content: space-between;
    
}
.div012{
    width: 95%;
    height: 95vh;
    display: inline-flex;

}
.div120{
    width: 95%;
    height: 95vh;
    display: inline-flex;

}
.div1200{
    width: 95%;
    height: 95vh;
    display: inline-flex;

}
.div_main012{
    width: 100% !important;
    height: max-content !important;
    display: inline-flex;
    justify-content: start;
    margin-top: 30px;
    height: auto;
}
.div_main01{
    width: 80%;
    height: auto;

}
.div15{
    width: 50%;
    
}
.div16{
    border-radius: 0%;
    width: 20%;
    width: 15rem;
    /* margin-left: 10px; */
}
.div_main16{
    border-right: solid 1px rgb(233, 230, 230) !important;
    width: auto;
    width: 20rem;
    height: max-content !important;
    margin-left: 10px;
    border-bottom: none;
    border-left: none;
    border-top: none;
    margin-top: 50px;
    border-radius: 0% !important;
}

.main16{
    border-right: solid 1px rgb(233, 230, 230) !important;
    width: max-content;
    height: max-content !important;
    width: 20rem;
    /* margin-left: 10px; */
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-radius: 0%;
    margin-left: 10%;
    margin-top: 50px;
}
.div_main16:hover{
    box-shadow:2px 2px 2px 2px #d3d2d0;
}
.main16:hover{
    box-shadow:2px 2px 2px 2px #d3d2d0;
}
.div_main16>button:hover{   
    background-color: #1840f3 !important;
}
.div17{
    width: 18%;
    width: 16rem;
    text-decoration: none;
    border: none;
    border-right: solid 1px  rgb(219, 217, 217);
    border-radius: 0%;
    /* margin-left: 5px; */
}
.main_div17{
    width: 18%;
    width: 16rem ;
    text-decoration: none;
    border: none;
    border-right: solid 1px  rgb(219, 217, 217);

    margin-left: 10px;
}
.div016{
    width: 20%;
    /* border-right: solid 1px  rgb(151, 148, 148); */
    width: 15rem;
    /* margin-left: 10px; */
    border-radius: 0%;
}
.div017{
    width: 18%;
    width: 15rem;
    text-decoration: none;
    border: none;
    border-right: solid 1px  rgb(219, 217, 217);
    margin-left: 20px;
    border-radius: 0%;
}
.div0016{
    width: 20%;
    width: 13rem;
    border-right: solid 1px  rgb(219, 217, 217) !important;
    /* margin-left: 20px; */
    border-radius: 0%;
}
.div0017{
    width: 18%;
    width: 15rem;
    text-decoration: none;
    border: none;
    border-right: solid  1px rgb(219, 217, 217);
    border-radius: 0%;
    /* margin-left: 5px; */
}
.main_div017{
    width: 18%;
    width: 16rem;
    height: 60vh;
    text-decoration: none;
    border: none;
    border-right: solid 1px  rgb(219, 217, 217);
    margin-left: 20px;
    border-radius: 0%;
}
.main_div017:hover{
    box-shadow: 3px 3px 3px rgb(219, 217, 217);
}
#btn1{
    background-color: white !important;
    color: rgb(148, 146, 146);
    border: none;
    height: 5vh;
    margin-left: 30px !important;
}
#a1{
    color: black;
    text-decoration: none;
}
#span{
    text-align: center;
    color: rgb(1, 59, 218);
    margin-top: 50px;
    font-size: 10.7pt;
    font-weight:600;
}
.cardbody>span{
    font-size: 11pt;
}
#span1{
    font-size: 10.5pt;
    color: darkgray;
    margin-top: 20px;
}
#span01{
    font-size: 10.5pt;

}
#a2{
    margin-left: 50%;
    background-color: rgb(207, 204, 204);
    border-radius: 60px;
    border: none;
}
#a2:hover{
    background-color:rgb(0, 68, 255) ;
}
#span3{
    color: rgb(0, 68, 255);
}
.biznes{
    width: 100%;
    height: 40vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.class{
    width: 87%;
    height: 10vh;
    
}
.class>h1{
    font-size: 23pt;
}
#img{
    width: 85%;
}
.span01{
    font-size: 20pt;
}
.header_div{
    background-color: rgba(6, 147, 227, 1) ;
    width: 100%;
    /* height: 32vh; */
    display: inline-flex;
    flex-direction: column !important;
    align-items: center;
    
}
.header{
    width: 75%;
    height: 8vh;
    background-color: white;
    border-radius: 25pt;
    display: inline-flex;
    justify-content: space-between;
}
.header>input{
    width: 90%;
    border: none;
    height: 8vh;
    border-radius: 25pt 0pt 0pt 25pt;
}
.header>input::placeholder{
    margin-left: 22px;
    position: absolute;
    font-size: 11pt;
}
#Link{
    width: 5%;
    height: 8vh;
    border: none;
    color: black;
    margin-top: 12px;
    font-size: 11pt;
    font-weight: 100;
    
}
.header1{
    min-width: 350px !important;
    height: 15vh;
    margin-top: 16px;
   display: inline-flex;
   /* overflow-x:scroll  !important; */
}
#btn{
    background-color: rgba(6, 147, 227, 1) ;
    border: none;
    
}

#Link1{
    width: 100% !important ;
    color: white;
    text-align: center !important;
    list-style: none;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
}
.item{
    width: 20% !important;
    height: min-content;
}
.header_div1{
    width: 80%;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.header_div01{
    width: 100%;
    display: inline-flex;
    align-items: center;
}
.header_div02{
    width: 20%;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

}
.header_div02>a{
    font-size: 15pt;
    color: white;
}
.header_div2{
    width: 15%;
    height: 8vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.header_div3{
    width: 20%;
    height: 10vh;
    display: inline-flex;
    align-items: center;
}
.header_div3>a>img{
    width: 100%;
}
#bdi{
    color: rgb(253, 61, 125);
    font-weight: bold;
    font-size: 11pt;
}
#s{
    font-size: 7pt;
    font-weight: bolder;
    color: darkgray;
}
#id0{
    margin-top: -10px;
    color: darkgray;
    font-style:initial;
    font-weight: 300pt;
}
.di{
    width: 100%;
    height: 50vh;
    display: inline-flex;
    justify-content: center;
    /* margin-top: -40px; */
}
.id{
    width: 87%;
    height: 50vh;
    display: inline-flex;
    justify-content: space-between;
}
.di1{
    width: 49%;
    height: 50vh;
    background-image: url(https://nout.uz/wp-content/uploads/2021/03/delivery-service.jpg);
    background-size: cover;
}
.di2{
    width: 49%;
    height: 50vh;
    background-image: url(https://nout.uz/wp-content/uploads/2021/03/kredit-big.png);
    background-size: cover;
}

.footer{
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    margin-top: 20px;
}
.footer_div{
    background-color: #f2f2f2;
    width: 100%;
    height: 85vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.footer_div1{
    width: 100%;
    height: 8vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.footer_div2{
    width: 90%;
    height: 67vh;
    display: inline-flex;
}
.footer_div3{
    width: 40%;
    height: 67vh;
}
.footer_div5{
    width: 70%;
    height: 10vh;
    margin-left: 10px;
    margin-top: 10px;
}
#img12{
    width: 38%;
    height: 10vh;
}
.footer_div4{
    width: 17%;
    height: 67vh;
    margin-left: 10px;
}
#Link12{
    font-size: 20pt;
    text-decoration: none;
    margin-left: 60px;
    text-align: center;
}
#Link11{
    text-decoration: none;
    color: rgb(13, 11, 31);
    font-size: 11pt;
    margin-top: 20pt !important;
}
#Link11>li{
    margin-top: 10px;
}
#li1:hover{
    background-color: rgb(61, 61, 248);
    color: white;
}
#dropdown{
    height: 70vh;
    border-radius: 9pt;
    margin-left: 10% !important;
}

.footer_div5>span{
    font-size: 10pt;
    color: darkgray;
    margin-left: 70px;
    margin-top: 20px;
}
#i{
    font-size: 35pt;
    margin-top: 10px;
    position: absolute;
    color: rgb(61, 61, 248);
}
.footer_div4>h6{
    font-size: 14pt;
    margin-left: 30px;
}
.footer_div01{
    width: 60%;
    height: 8vh;
    display: inline-flex;
    align-items: center;
    justify-items: center;
}
.footer_div01>h6{
    font-size: 10.5pt;
    font-weight: 400;
    margin-top: 10px;
}
.footer_div02{
    width: 20%;
    height: 8vh;
    display: inline-flex;
    align-items: center;
}
.div016>Link:hover{
    color: #4f6cf0;
}
.div016:hover{
    box-shadow: 3px 3px 3px 3px rgb(192, 191, 191);
}
.div016:hover>a{
    color: rgb(70, 70, 253) !important;
}
.div016:hover>hr{
    color:#c2c0c0 !important;
}
.div016:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.div017:hover{
    box-shadow: 3px 3px 3px 3px rgb(192, 191, 191);
}
.div017>Link:hover{
    color: #4f6cf0;
}
.div017:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.div017:hover>hr{
    color:#c2c0c0 !important;
}
.div017:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.div0016>Link:hover{
    color: #4f6cf0;
}
.div0016:hover{
    box-shadow: 3px 3px 3px 3px rgb(192, 191, 191);
}
.div0016:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.div0016:hover>hr{
    color:#c2c0c0 !important;
}
.div0016:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.div0017>Link:hover{
    color: #4f6cf0;
}
.div0017:hover{
    box-shadow: 3px 3px 3px 3px rgb(192, 191, 191);
}
.div0017:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.div0017:hover>hr{
    color:#c2c0c0 !important;
}
.div0017:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.main_div016>Link:hover{
    color: #4f6cf0;
}
.main_div016:hover{
    box-shadow: 3px 3px 3px 3px rgb(192, 191, 191);
}
.main_div016:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.main_div016:hover>hr{
    color:#c2c0c0 !important;
}
.main_main016:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.div016>Link:hover{
    color: #4f6cf0;
}
.div016:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.div016:hover>hr{
    color:#c2c0c0 !important;
}
.div016:hover>Link{
    color: rgb(13, 13, 14) !important;
}
.div016:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.div016:hover>hr{
    color:#c2c0c0 !important;
}
.div016:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.main_div16:hover{
    box-shadow:  1px 1px 1px 1px rgb(192, 191, 191);
}
.main_div16:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.main_div16:hover>hr{
    color:#c2c0c0 !important;
}
.main_div16:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.div17>Link:hover{
    color: #4f6cf0;
}
.div17:hover{
    box-shadow:  1px 1px 1px 1px rgb(192, 191, 191);
}
.div17:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.div17:hover>hr{
    color:#c2c0c0 !important;
}
.div17:hover>Link{
    color: rgb(13, 13, 14) !important;
}

.div16>Link:hover{
    color: #4f6cf0;
}
.div16:hover{
    box-shadow:  1px 1px 1px 1px rgb(192, 191, 191);
}
.div16:hover>a{
    color: rgb(70, 70, 253) !important;
    margin-right: 30px;
}
.div16:hover>hr{
    color:#c2c0c0 !important;
}
.div16:hover>Link{
    color: rgb(13, 13, 14) !important;
}

#link{
    width: auto;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    font-size: 10.5pt;
    margin-top: 10px;
    /* margin-left: 15px; */
    /* border-right: solid 1px rgb(206, 195, 176) ; */
}
.footer-div1{
    width: 29%;
    height: 7vh;
    /* background-color: rgb(5, 252, 38); */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#i2{
    font-size: 20pt;
    color: #3a5efd;

}
#i1{
    font-size: 20pt;
    color: #f58a11;

}
#i3{
    font-size: 20pt;
    color: #1a036e;

}
.footerdiv{
    width: 100%;
    height: 25vh;
    /* background-color: #f58a11; */
    flex-direction: column;
}
.footerdiv1{
    width: 100%;
    height: 12.5vh;
    /* background-color: aqua; */
    display: inline-flex;
    justify-content: center;
}
.footerdiv01{
    width: 15%;
    height: 12.5;
    /* background-color: chartreuse; */
    display:inline-flex ;
    align-items: center;
}
.footerdiv01>img{
    width: 100%;


}
.footerdiv2{
    width: 100%;
    height: 12.5vh;
    /* background-color: rgb(25, 0, 255); */
    display: inline-flex;
    justify-content: center;
}
.footerdiv02{
    width: 30%;
    height: 12.5 !important;
    /* background-color: rgb(255, 102, 0) !important; */
}
.footerdiv02>span{
    font-size: 10pt;
    
}
#footerLink{
    color: black;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bolder;
    text-align: center !important;
    margin-left: 10px;
}
.offcanvas{
    background-color: rgb(41, 40, 40);
    width: 50%;
}
#btn21{
    color: white;
}

.div_header{
    width: 100%;
    height: 15vh;   
    display: inline-flex;
    justify-content: space-around;
    position: sticky;
    top: 0 !important;
    bottom: 0 !important;
    background-color: white;
    z-index: 1000 !important;
    
    
}
.div_header1{
    width: 16%;
    height: 15vh;
    display: inline-flex;
    align-items: center;
}
.div_header2{
    width: 30%;
    height: 15vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.div_header3{
    width: 17%;
    height: 15vh;
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
}
.div_header4{
    width: 75%;
    height: 15vh;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
}
.div_header4>span{
    text-align: center;
}
#i01{
    font-size: 30pt;
    color: #1840f3;
}
#h6{
    color: rgb(14, 5, 27);
    text-align: center;
}
#div_header_img{
    width: 100%;
}
#select{

    background:none;
    border: none;
    color: rgb(14, 5, 27);
}
.inp-div{
    width: 100%;
    height: 10vh;
    display: inline-flex;
    justify-content: center;
    background-color: #2e52f7;
    align-items: center;
}
.inp-div1{
    width: 80%;
    height: 7.5vh;
    border:none;
    border-radius: 25px;

    align-items: center;
    border-width: 20pt rgb(67, 67, 250) !important;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
}
#inp-1{
    width: 10%;
    height: 7.5vh;
    border-radius: 0px 25px  25px 0px;
    color: white;
    border: none;
    background-color:  rgb(46, 46, 48);
    border-right: none;
}
#btn-1{
    background: none;
    color: rgb(252, 250, 250);
    border: none;
    height: 5vh;
    font-weight: bolder;
    /* margin-top: 5px; */
}
.div-5{
    width: 13%;
    height: 10vh;

    font-size: 20pt;
    color: rgb(20, 13, 68);
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.div-5>a>i{
    color: rgb(20, 13, 68);
}
.div_main{
    width: 100%;
    height: 15vh;
    /* background-color: #f58a11; */
    display: inline-flex;
    justify-content: center !important  ;
}
.div_main1{
    width: 80%;
    height: 35vh;
    /* background-color: #2811f5; */
    display: inline-flex;
    justify-content: center;
}
.div_main2{
    width: 80%;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    
    /* padding: 15px 15px  ; */
}
.div_main2>span{
    margin-left: 15px;
    font-size: 15px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;

}
#main-link{
    color: #130a31;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
#main-link1{
    color: #130a31;

    font-size: 15px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;

    
}
.divmain{
    width: 8%;
    height: 6vh;
    background-color: #f8f6f3;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.divmain:hover{
    background-color: #d3d2d0 !important;
}
.divmain1{
    width: 10%;
    height: 6vh;
    background-color: #f8f6f3;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.divmain1:hover{
    background-color: #d3d2d0 !important;
}
.div_main11{
    width: 100%;
    height: 20vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    

}
#btn_buy{
    background-color: white !important;
    color: #0a051b !important ;
    border: none !important;
    font-size: 20pt;
}
#btn_buy01{
    background-color: rgba(6, 147, 227, 1)!important;
    color: #ffffff !important ;
    border: none !important;
    font-size: 15pt;
}
#btn_buy1{
    background-color: #2e52f7 !important;
    color: #0a051b !important ;
    border: none !important;
    font-size: 20pt;
}
.popover{
    width: 60%;
    height: 15vh;
    background-color: white !important;
    border-radius: 0% 0% 10px 10px;
    border-top: solid  rgb(41, 41, 250);
    box-shadow:1px #c2c2c1 !important;
}
.popover-body{
    width: 100% !important;   
    height: 15vh;
}
.div_main{
    width: 100%;
    height: 160vh;
}
.div-main1{
    width: 100%;
    height: max-content !important;
    /* background-color: #f58a11; */
    margin-top: 50px;
    display: inline-flex;
    justify-content: center;
}
.div-main2{
    width: 87%;
   
    /* background-color: #118ef5; */
    
}
.div-main2>span{
    font-size: 10.6pt;
    text-align: center;
}
.div_main13{
    width: 100%;
    display: inline-flex;
    flex-direction: column;    
    align-items: center;

}
.div_main01{
    width: 100%;
    height: 10vh;
    display: inline-flex;
    justify-content: center;
    /* background-color: #f2f2f2; */
}
#btn01{
    border: none;
    /* background-color: white; */
}
.MultiCarousel{
    width: 100%;
    display: inline-flex;
}
.MultiCarousel-inner{
    width: 100%;
    display: inline-flex;
}
.item{
    width: 120px !important;
    height: 10vh;
    margin-left: 10px;
    text-align: center;
    color: white;
}
#link_tel{
    color: white;
    font-size: 10pt;
    font-weight: 700;
}
#btn_chat{
    bottom: 0;
    position: sticky;
    margin-left: 93%;
    margin-top: 20px !important;
    width: 5%;
    height: 10vh;
    border-radius: 50%;
}
.offcanvas{
    background-color: white;
    width: 25% !important;
    border-right: solid 1px rgb(133, 133, 133);
}
#chat_img{
    width: 15% !important;
}
.offcanvas-header{
    display: inline-flex;
    justify-content: space-around !important;
}
#span_chat{
    margin-left: 27%;
}
.offcanvas-body{
    display: inline-flex;
    align-items: end;
    padding: 0%;
}
.div_chat{
    width: 100%;
    height: 20vh;
    border-top: solid 1px rgb(132, 132, 132);
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
}
#chat_inp{
    width: 100%;
    border: none;
}
#inp_file{
    margin-top: 5vh;
}
@media screen and (max-width:1400px) {
    .main16{
        margin-left: 10px !important;
    }
}
@media screen and (max-width:992px) {
    .div1{
        background-color: rgba(6, 147, 227, 1);
    }
    .div2{
        display: inline-flex;
        align-items: center;
        height: 13vh !important;
    }
    .div4{
        display: none;
    }
    .div05{
        background-color: rgba(6, 147, 227, 1) !important;
    }
    #icon_buy{
        color: white;
        font-size: 15pt !important;
    }
    #icon_person{
        color: white;
        font-size: 15pt !important;
    }
    #btn_buy{
        background-color: rgba(6, 147, 227, 1) !important;
    }
    .div3{
        display: none;
    }

    .o1{
        display: none;
    }
    
    .header_div02{
        margin-left: -10%;
    }
    .div6{
        display: none;
    }
    .div17{
        width: 25rem;
        width: 45%;
    }
    .div017{
        width: 25rem;
        width: 45%;
    }
    .div016{
        width: 25rem;
        width: 45%;
    }
    .div16{
        width: 25rem;
        width: 45%;
    }
    .header_div{
        position: sticky;
        top: 0;
        bottom: 0;
        z-index: 1000;
    }
    .div10>img{
        height: 37vh;
    }
    .div10{
        height: 37vh;
    }
    .div0017{
        display: none !important;
    }
    .header-div{
        display: none;
    }
    .main_div17{
        display: none;
    }
    .main_div017{
        display: none !important;
    }
    .div12{
        display: inline-flex;
        justify-content: space-between;
    }
    .div012{
        display: inline-flex;
        justify-content: space-between;
    }
    .div120{
        display: inline-flex;
        justify-content: space-between;
    }
    .div1200{
        display: inline-flex;
        justify-content: space-between;
    }
    .div11{
        display: inline-flex;
        flex-direction: column;
        justify-content: start;
    }
    .id{
        width: 90%;
        
    }
    .di1{
        height: 30vh;
    }
    .di2{
        height: 30vh;
    }
    .footer_div3{
        display: none;
    }
    .footer_div{
        height: 45vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: start;
    }
     .footer_div2{
        display: none;
     }
     .dropdown1{
        margin-top: 10px;
        width: 90%;
    }
    #footer-btn{
        width: 100%;
        height: 9vh;
        background-color: white;
        border: none;
        color: rgb(2, 4, 12);
        /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-weight: 600;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    #footer-ul{
        width: 90%;
        border: none;
        margin-top: -10px !important;
    }
    #footer-li{
        margin-left: 10px;
        color: #1840f3;
    }
    .footer_div1{
            display: none;
    }
    .div010{
        height: 50vh !important;
    }
    .div010>img{
        height: 50vh !important;
    }
    .main_div017{
        display: none !important;
    }
    #hr{
        display: none;
    }
    .div_header{
        display: none !important;
    }
    .inp-div{
        display: none !important;
    }
    .div_main012{
        width: 100% !important;
    }
    .div_main16{
        width: 17rem !important;
    }
    .header1{
        min-width: 350px !important;
        height: 15vh;
        margin-top: 16px;
        display: inline-flex;
    }
    .header-div3>img{
        width: 10% !important;
    }

    .div_main1{
        width: 100%;
        height: 10vh;
        display: inline-flex;
        justify-content: center;
        /* background-color: #f58a11; */
    }
    .div_main2{
        width: 80%;
        height: 10vh;
        /* background-color: #2811f5; */
    }
    .divmain{
        width: 10%;
        padding: 5px;
    }
    .divmain1{
        width: 20%;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f6f3 !important;
    }
    #search_icon{
        font-size: 15pt;
        margin-top: 15px;
        margin-left: -50% !important;
    }
    #btn_chat{
        width: 7.5% !important;
        margin-left: 92%;
    }
    .offcanvas{
        width: 40% !important;
    }
}
@media screen and (min-width:992px) {
    .header_div{
        display: none;
    }
    .header_div1{
        display: none;
    }
    .header{
        display: none;
    }
    .header1{
        display: none;
    }
    .dropdown1{
        display: none;
    }
    .footer-div1{
        display: none;
    }
    .footerdiv{
        display: none;
    }
    
}
@media screen and (max-width:768px) {
    .div1{
        background-color: rgba(6, 147, 227, 1);
    }
    .div2{
        display: inline-flex;
        align-items: center;
    }
    .div4{
        display: none;
    }
    .div3{
        display: none;
    }

    .o1{
        display: none;
    }
    .MultiCarousel{
        margin-left: -10% !important;
    }
    .div6{
        display: none;
    }
    .div17{
        width: 30rem;
        width: 45%;
    }
    .div017{
        width: 30rem;
        width: 45%;
    }
    .div016{
        width: 30rem;
        width: 45%;
    }
    .div16{
        width: 30rem;
        width: 45%;
    }
    .header{
        width: 85% !important;
    }
    .div10>img{
        height: 37vh;
    }
    .div10{
        height: 37vh;
    }
    .div0017{
        display: none !important;
    }
    .header-div{
        display: none;
    }
    .main_div17{
        display: none;
    }
    .main_div017{
        display: none !important;
    }
    .div12{
        display: inline-flex;
        justify-content: space-between;
    }
    .div012{
        display: inline-flex;
        justify-content: space-between;
    }
    .div120{
        display: inline-flex;
        justify-content: space-between;
    }
    .div1200{
        display: inline-flex;
        justify-content: space-between;
    }
    .di{
        height: 100vh;
        display: inline-flex;
        align-items: space-between;
    }
    .id{
        height: 100vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header_div1{
        width: 90%;

    }
    .header{
        width: 91%;
    }
    .header1{
        width: 90% !important;
        display: inline-flex;
    }
    .header_div02{
        width: 33%;
    }
    .div11{
        width: 87%;
        height: 25vh;
    }
    .div010{
        height: 50vh;
    }
    .div010>img{
        height: 50vh;
    }
    .header_div3>img{
        width: 17vh;
    }
    .footer-div1{
        width: 35%;
    }
    .footerdiv02{
        width: 40%;
    }
    .di{
        width: 100%;
        height: 100vh;
    }
    .id{
        width: 90%;
        height: 90vh;
    }
    .di1{
        width: 100%;
        height: 42vh;
    }
    .di2{
        width: 100%;
        height: 42vh;
    }
    .div010{
        height: 50vh;
    }
    #Link1{
        text-align: center;
        width: 100%;
    }
    
    .header01{
        width: 100% !important;
        height: 7vh;
        display: inline-flex !important;
        margin-left: 10px;
    }

    .div_main012{
        width: 100% !important;
        display: inline-flex !important;
        justify-content: center;
        margin-left: 50px !important;
    }
    .div_main16{
        margin-top: 50px !important;
        width: 20rem !important;
    }
    .main16{
        width: 90% !important;
        width: 27rem !important;
        margin-top: 50px;
        margin-left: -20px !important;
    }
    .div_main01{
        width: 100%;
        height: 10vh;
        background-color: #f8f8f8f8;
        display: inline-flex;
        justify-content: center;
    }
    .div_main2{
        width: 80% !important;
        height: 10vh;
        /* background-color: #2811f5; */
    }
    .divmain{
        width: 10%;
        padding: 5px;
    }
    .div_about_hp{
        margin-top: 550vh !important;
    }
    .div-main1{
        margin-top: 256vh;
    }
    #asus_hr{
        width: 0% !important;
    }
    #btn_chat{
        width: 10% !important;
        margin-left: 87%;
    }
    .offcanvas{
        width: 45% !important;
    }
}
@media screen and (max-width:576px) {
    .div10{
        height: 20vh;
    }
    .div10>img{
        height: 20vh;
    }
    .div010{
        height: 20vh;
    }
    .div010>img{
        height: 20vh;
    }
    .div9{
        height: 20vh !important;
    }
    .div11{
        height: 60vh;
    }
    .footer-div1{
        width: 40%;
    }
    .footerdiv02{
        width: 50%;
    }
    .di{
        width: 100%;
        height: 90vh;
    }
    .id{
        width: 90%;
        height: 86vh;
    }
    .di1{
        width: 100%;
        height: 40vh;
    }
    .di2{
        width: 100%;
        height: 40vh;
    }
    .div010{
        height: 30vh !important;

    }
    .div010>img{
        height: 30vh !important;        
    }
    .div_main012{
        width: 100% !important;
        
    }
    .div_main012{
        width: 100% !important;
        height: auto !important;
    }
    .div_main16{
        width: auto!important;
        border: none;
        border-bottom: solid 1px rgb(211, 210, 210);
        border-right: solid 0px;
        margin-top: 50px !important;
    }
    .div_main2{
        width: 80% !important;
        height: 10vh;
    }
    .header1{
        min-width: 350px !important;
        height: 15vh;
        margin-top: 16px;
        display: inline-flex;
        overflow-x:scroll  !important;
    }
    .divmain{
        width: 17% !important;
        transform: matrix3d(2s);                
    }
    .div-main1{
        margin-top: 280vh;
    }
    .header_div02{
        width: 30%;
        margin-left: -100px !important;
        display: inline-flex;
        justify-content: space-between;
        margin-right: 10%;
    }
    .modal1{
        width: 80%;
        
    }
    .div012{
        height: 250vh !important;
    }
    .div120{
        height: 130vh !important;
    }
    .div1200{
        height: 300vh !important;
    }
    .div12{
        height: 300vh !important;
    }
    .div0017{
        width: 100% !important;
        height: max-content !important;
        border: none;
    }
    .div017{
        width: 100% !important;
        height: 70vh !important;
        border: none;
    }
    .div17{
        width: 100% !important;
        height: 70vh !important;
        border: none;
    }
    .div016{
        width: 100% !important;
        height: 70vh !important;
        border: none;
    }
    .div0016{
        width: 100% !important;
        height: 70vh !important;
        border: none;
    }
    .div16{
        width: 100% !important;
        height: 70vh !important;
        border: none;
    }
    .div11>h1 {
        font-size: 13pt;
        margin-top: 10px;
    }
    .div11>h5{
        font-size: 10pt;
    }
    .footerdiv{
        width: 100%;
        height: 35vh;
    }
    .footerdiv01{
        width: 30%;
    }
    .footerdiv2{
        width: 100%;
        height: 30vh;
    }
    .footerdiv02{
        width: 70%;
        height: 30vh;
    }
    #btn_chat{
        width: 17% !important;
        margin-left: 80%;
    }
    .offcanvas{
        width: 55% !important;
    }
}